@page
@model ScriptureJournal.Pages.JournalEntries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" style="margin-bottom: 30px">View Entries</h1>
<a asp-page="Create" class="btn btn-primary" style="float: right; margin-bottom: 10px">Create New Entry</a>
<form class="form-inline" style="margin-bottom: 10px">
    <div class="form-group">
        <div style="margin: 0 15px 0 12px; font-weight: bold">Book</div>
        <select asp-for="Book" asp-items="Model.Books" class="form-control" style="margin-right: 15px">
            <option value="">All</option>
        </select>
        <div style="margin-right: 15px; font-weight: bold">Note</div>
        <input type="text" asp-for="SearchString" class="form-control" style="margin-right: 15px" />
        <input class="btn btn-primary" type="submit" value="Filter" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.JournalEntry[0].Date)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BookSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.JournalEntry[0].Book)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JournalEntry)
        {
            <tr>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Book)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm" style="padding: 2px 8px 2px 8px">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-primary btn-sm" style="padding: 2px 8px 2px 8px">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-primary btn-sm" style="padding: 2px 8px 2px 8px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.JournalEntry.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.JournalEntry.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.JournalEntry.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.JournalEntry.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
